<?php
/**
 * Copyright © 2015 udcommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Ud\Faq\Block\Faq\Index
 */


echo $block->hello;
?>
<br/>
update content from Faq\view\frontend\templates\faq\index.phtml