/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
.abs-action-addto-product {
  background-image: none;
  background: #f2f2f2;
  border: 1px solid #cdcdcd;
  color: #333333;
  cursor: pointer;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 7px 15px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
}
.abs-action-link-button:focus,
.abs-action-link-button:active,
.abs-action-addto-product:focus,
.abs-action-addto-product:active {
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #333333;
}
.abs-action-link-button:hover,
.abs-action-addto-product:hover {
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #555555;
}
.abs-action-link-button.disabled,
.abs-action-link-button[disabled],
fieldset[disabled] .abs-action-link-button,
.abs-action-addto-product.disabled,
.abs-action-addto-product[disabled],
fieldset[disabled] .abs-action-addto-product {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.abs-action-link-button:hover,
.abs-action-link-button:active,
.abs-action-link-button:focus,
.abs-action-addto-product:hover,
.abs-action-addto-product:active,
.abs-action-addto-product:focus {
  text-decoration: none;
}
.abs-account-blocks .block-title {
  margin-bottom: 15px;
}
.abs-account-blocks .block-title > strong {
  font-weight: 300;
  line-height: 1.1;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.abs-dropdown-simple:before,
.abs-dropdown-simple:after {
  content: '';
  display: table;
}
.abs-dropdown-simple:after {
  clear: both;
}
.abs-dropdown-simple .action.toggle {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.abs-dropdown-simple .action.toggle:after {
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  line-height: 22px;
  color: inherit;
  content: '\e607';
  font-family: 'icons-blank-theme';
  margin: 0 0 0 5px;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-dropdown-simple .action.toggle:hover:after {
  color: inherit;
}
.abs-dropdown-simple .action.toggle:active:after {
  color: inherit;
}
.abs-dropdown-simple .action.toggle.active {
  display: inline-block;
  text-decoration: none;
}
.abs-dropdown-simple .action.toggle.active:after {
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  line-height: 22px;
  color: inherit;
  content: '\e618';
  font-family: 'icons-blank-theme';
  margin: 0 0 0 5px;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-dropdown-simple .action.toggle.active:hover:after {
  color: inherit;
}
.abs-dropdown-simple .action.toggle.active:active:after {
  color: inherit;
}
.abs-dropdown-simple ul.dropdown {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style: none none;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  margin-top: 4px;
  min-width: 200px;
  display: none;
}
.abs-dropdown-simple ul.dropdown li {
  margin: 0;
  padding: 5px 5px 5px 23px;
}
.abs-dropdown-simple ul.dropdown li:hover {
  background: #e8e8e8;
  cursor: pointer;
}
.abs-dropdown-simple ul.dropdown:before,
.abs-dropdown-simple ul.dropdown:after {
  border-bottom-style: solid;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.abs-dropdown-simple ul.dropdown:before {
  border: 6px solid;
  border-color: transparent transparent #ffffff transparent;
  z-index: 99;
}
.abs-dropdown-simple ul.dropdown:after {
  border: 7px solid;
  border-color: transparent transparent #bbbbbb transparent;
  z-index: 98;
}
.abs-dropdown-simple ul.dropdown:before {
  left: 10px;
  top: -12px;
}
.abs-dropdown-simple ul.dropdown:after {
  left: 9px;
  top: -14px;
}
.abs-dropdown-simple.active {
  overflow: visible;
}
.abs-dropdown-simple.active ul.dropdown {
  display: block;
}
.abs-remove-button-for-blocks > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.abs-remove-button-for-blocks:before {
  -webkit-font-smoothing: antialiased;
  font-size: 26px;
  line-height: 15px;
  color: #303030;
  content: '\e616';
  font-family: 'icons-blank-theme';
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-remove-button-for-blocks:hover:before {
  color: #303030;
}
.abs-remove-button-for-blocks:active:before {
  color: #303030;
}
.abs-product-link > a:visited {
  color: #333333;
  text-decoration: underline;
}
.abs-product-link > a:hover {
  color: #333333;
  text-decoration: underline;
}
.abs-product-link > a:active {
  color: #333333;
  text-decoration: underline;
}
.abs-add-fields .action.remove {
  width: auto;
  position: absolute;
  top: 31px;
  left: 10px;
  margin-left: 70%;
}
.abs-add-clearfix:before,
.abs-add-clearfix:after,
.abs-add-fields .fieldset .actions-toolbar:not(:first-child):before,
.abs-add-fields .fieldset .actions-toolbar:not(:first-child):after {
  content: '';
  display: table;
}
.abs-add-clearfix:after,
.abs-add-fields .fieldset .actions-toolbar:not(:first-child):after {
  clear: both;
}
.abs-field-date .control,
.abs-field-tooltip {
  box-sizing: border-box;
}
.abs-navigation-icon:after {
  -webkit-font-smoothing: antialiased;
  font-size: 34px;
  line-height: 1.2;
  color: inherit;
  content: '\e622';
  font-family: 'icons-blank-theme';
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-split-button:before,
.abs-split-button:after {
  content: '';
  display: table;
}
.abs-split-button:after {
  clear: both;
}
.abs-split-button .action.split {
  float: left;
  margin: 0;
}
.abs-split-button .action.toggle {
  float: right;
  margin: 0;
}
.abs-split-button button.action.split {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.abs-split-button button + .action.toggle {
  border-bottom-left-radius: 0;
  border-left: 0;
  border-top-left-radius: 0;
}
.abs-split-button .action.toggle {
  padding: 4px 5px;
  display: inline-block;
  text-decoration: none;
}
.abs-split-button .action.toggle > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.abs-split-button .action.toggle:after {
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  line-height: 22px;
  color: inherit;
  content: '\e607';
  font-family: 'icons-blank-theme';
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-split-button .action.toggle:hover:after {
  color: inherit;
}
.abs-split-button .action.toggle:active:after {
  color: inherit;
}
.abs-split-button .action.toggle.active {
  display: inline-block;
  text-decoration: none;
}
.abs-split-button .action.toggle.active > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.abs-split-button .action.toggle.active:after {
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  line-height: 22px;
  color: inherit;
  content: '\e618';
  font-family: 'icons-blank-theme';
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-split-button .action.toggle.active:hover:after {
  color: inherit;
}
.abs-split-button .action.toggle.active:active:after {
  color: inherit;
}
.abs-split-button .items {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style: none none;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  margin-top: 4px;
  min-width: 100%;
  display: none;
}
.abs-split-button .items li {
  margin: 0;
  padding: 3px 5px;
}
.abs-split-button .items li:hover {
  background: #e8e8e8;
  cursor: pointer;
}
.abs-split-button .items:before,
.abs-split-button .items:after {
  border-bottom-style: solid;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.abs-split-button .items:before {
  border: 6px solid;
  border-color: transparent transparent #ffffff transparent;
  z-index: 99;
}
.abs-split-button .items:after {
  border: 7px solid;
  border-color: transparent transparent #bbbbbb transparent;
  z-index: 98;
}
.abs-split-button .items:before {
  right: 10px;
  top: -12px;
}
.abs-split-button .items:after {
  right: 9px;
  top: -14px;
}
.abs-split-button.active {
  overflow: visible;
}
.abs-split-button.active .items {
  display: block;
}
.abs-actions-addto-gridlist > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.abs-actions-addto-gridlist:before {
  -webkit-font-smoothing: antialiased;
  font-size: 29px;
  line-height: 24px;
  color: #7d7d7d;
  font-family: 'icons-blank-theme';
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-actions-addto-gridlist:hover:before {
  color: #333333;
}
.abs-action-remove,
.abs-add-fields .action.remove {
  line-height: 1.42857143;
  padding: 0;
  color: #1979c3;
  text-decoration: none;
  background: none;
  border: 0;
  display: inline;
  border-radius: 0;
  font-weight: 400;
  font-size: inherit;
}
.abs-action-button-as-link:visited,
.abs-action-remove:visited,
.abs-add-fields .action.remove:visited {
  color: #1979c3;
  text-decoration: none;
}
.abs-action-button-as-link:hover,
.abs-action-remove:hover,
.abs-add-fields .action.remove:hover {
  color: #006bb4;
  text-decoration: underline;
}
.abs-action-button-as-link:active,
.abs-action-remove:active,
.abs-add-fields .action.remove:active {
  color: #ff5501;
  text-decoration: underline;
}
.abs-action-button-as-link:hover,
.abs-action-remove:hover,
.abs-add-fields .action.remove:hover {
  color: #006bb4;
}
.abs-action-button-as-link:hover,
.abs-action-button-as-link:active,
.abs-action-button-as-link:focus,
.abs-action-remove:hover,
.abs-action-remove:active,
.abs-action-remove:focus,
.abs-add-fields .action.remove:hover,
.abs-add-fields .action.remove:active,
.abs-add-fields .action.remove:focus {
  background: none;
  border: 0;
}
.abs-action-button-as-link.disabled,
.abs-action-button-as-link[disabled],
fieldset[disabled] .abs-action-button-as-link,
.abs-action-remove.disabled,
.abs-action-remove[disabled],
fieldset[disabled] .abs-action-remove,
.abs-add-fields .action.remove.disabled,
.abs-add-fields .action.remove[disabled],
fieldset[disabled] .abs-add-fields .action.remove {
  color: #1979c3;
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
  text-decoration: underline;
}
.abs-action-remove:active,
.abs-action-remove:not(:focus),
.abs-add-fields .action.remove:active,
.abs-add-fields .action.remove:not(:focus) {
  box-shadow: none;
}
.abs-revert-secondary-color:focus,
.abs-revert-secondary-color:active {
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #333333;
}
.abs-revert-secondary-color:hover {
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #555555;
}
.abs-tax-total:after {
  -webkit-font-smoothing: antialiased;
  font-size: 26px;
  line-height: 10px;
  color: inherit;
  content: '\e622';
  font-family: 'icons-blank-theme';
  margin: 3px 0 0 0;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-tax-total-expanded:after {
  content: '\e621';
}
.abs-tax-total-expanded:after {
  content: '\e621';
}
.abs-dropdown-items-new .action.new {
  display: inline-block;
  text-decoration: none;
}
.abs-icon-add:before,
.abs-dropdown-items-new .action.new:before {
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
  line-height: 10px;
  color: inherit;
  content: '\e61c';
  font-family: 'icons-blank-theme';
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-sidebar-totals .table-caption {
  display: none;
}
.abs-shopping-cart-items .action.continue:hover,
.abs-shopping-cart-items .action.continue:active,
.abs-shopping-cart-items .action.continue:focus {
  text-decoration: none;
}
.abs-shopping-cart-items .action.continue:before {
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  line-height: 16px;
  color: inherit;
  content: '\e617';
  font-family: 'icons-blank-theme';
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-shopping-cart-items .action.continue:hover:before {
  color: inherit;
}
.abs-shopping-cart-items .action.continue:active:before {
  color: inherit;
}
.abs-shopping-cart-items .action.continue:focus,
.abs-shopping-cart-items .action.continue:active {
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #333333;
}
.abs-shopping-cart-items .action.continue:hover {
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #555555;
}
.abs-shopping-cart-items .action.continue.disabled,
.abs-shopping-cart-items .action.continue[disabled],
fieldset[disabled] .abs-shopping-cart-items .action.continue {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.abs-shopping-cart-items .action.update:before {
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  line-height: 16px;
  color: inherit;
  content: '\e603';
  font-family: 'icons-blank-theme';
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-shopping-cart-items .action.update:hover:before {
  color: inherit;
}
.abs-shopping-cart-items .action.update:active:before {
  color: inherit;
}
.abs-field-date input {
  margin-right: 10px;
  width: calc(100% - (40px + 10px));
}
.abs-sidebar-totals .totals-tax-summary .amount .price > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.abs-sidebar-totals .totals-tax-summary .amount .price:after {
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  line-height: inherit;
  color: inherit;
  content: '\e622';
  font-family: 'icons-blank-theme';
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-sidebar-totals .totals-tax-summary.expanded .amount .price:after {
  content: '\e621';
}
.abs-discount-block > .title:after {
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  line-height: inherit;
  color: inherit;
  content: '\e622';
  font-family: 'icons-blank-theme';
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-discount-block.active > .title:after {
  content: '\e617';
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/light/opensans-300.eot');
  src: url('../fonts/opensans/light/opensans-300.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/light/opensans-300.woff2') format('woff2'), url('../fonts/opensans/light/opensans-300.woff') format('woff'), url('../fonts/opensans/light/opensans-300.ttf') format('truetype'), url('../fonts/opensans/light/opensans-300.svg#Open Sans') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/regular/opensans-400.eot');
  src: url('../fonts/opensans/regular/opensans-400.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/regular/opensans-400.woff2') format('woff2'), url('../fonts/opensans/regular/opensans-400.woff') format('woff'), url('../fonts/opensans/regular/opensans-400.ttf') format('truetype'), url('../fonts/opensans/regular/opensans-400.svg#Open Sans') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/semibold/opensans-600.eot');
  src: url('../fonts/opensans/semibold/opensans-600.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/semibold/opensans-600.woff2') format('woff2'), url('../fonts/opensans/semibold/opensans-600.woff') format('woff'), url('../fonts/opensans/semibold/opensans-600.ttf') format('truetype'), url('../fonts/opensans/semibold/opensans-600.svg#Open Sans') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/bold/opensans-700.eot');
  src: url('../fonts/opensans/bold/opensans-700.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/bold/opensans-700.woff2') format('woff2'), url('../fonts/opensans/bold/opensans-700.woff') format('woff'), url('../fonts/opensans/bold/opensans-700.ttf') format('truetype'), url('../fonts/opensans/bold/opensans-700.svg#Open Sans') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'icons-blank-theme';
  src: url('../fonts/Blank-Theme-Icons/Blank-Theme-Icons.eot');
  src: url('../fonts/Blank-Theme-Icons/Blank-Theme-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/Blank-Theme-Icons/Blank-Theme-Icons.woff2') format('woff2'), url('../fonts/Blank-Theme-Icons/Blank-Theme-Icons.woff') format('woff'), url('../fonts/Blank-Theme-Icons/Blank-Theme-Icons.ttf') format('truetype'), url('../fonts/Blank-Theme-Icons/Blank-Theme-Icons.svg#icons-blank-theme') format('svg');
  font-weight: normal;
  font-style: normal;
}
body._has-modal {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.modals-overlay {
  z-index: 899;
}
.modal-slide,
.modal-popup {
  bottom: 0;
  left: 0;
  min-width: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
}
.modal-slide._show,
.modal-popup._show {
  visibility: visible;
}
.modal-slide._show .modal-inner-wrap,
.modal-popup._show .modal-inner-wrap {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-slide .modal-inner-wrap,
.modal-popup .modal-inner-wrap {
  background-color: #ffffff;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);
  opacity: 1;
  pointer-events: auto;
}
.modal-slide {
  left: 44px;
  z-index: 900;
}
.modal-slide._show .modal-inner-wrap {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.modal-slide .modal-inner-wrap {
  height: 100%;
  overflow-y: auto;
  position: static;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition-duration: .3s;
  -webkit-transition-property: -webkit-transform, visibility;
  transition-property: transform, visibility;
  transition-timing-function: ease-in-out;
  width: auto;
}
.modal-slide._inner-scroll .modal-inner-wrap {
  overflow-y: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal-slide._inner-scroll .modal-header,
.modal-slide._inner-scroll .modal-footer {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.modal-slide._inner-scroll .modal-content {
  overflow-y: auto;
}
.modal-slide._inner-scroll .modal-footer {
  margin-top: auto;
}
.modal-slide .modal-header,
.modal-slide .modal-content,
.modal-slide .modal-footer {
  padding: 0 2.6rem 2.6rem;
}
.modal-slide .modal-header {
  padding-bottom: 2.1rem;
  padding-top: 2.1rem;
}
.modal-popup {
  left: 0;
  overflow-y: auto;
  z-index: 900;
}
.modal-popup._show .modal-inner-wrap {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.modal-popup .modal-inner-wrap {
  box-sizing: border-box;
  height: auto;
  left: 0;
  margin: 5rem auto;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  transition-duration: .2s;
  -webkit-transition-property: -webkit-transform, visibility;
  transition-property: transform, visibility;
  transition-timing-function: ease;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 75%;
}
.modal-popup._inner-scroll {
  overflow-y: visible;
}
.ie10 .modal-popup._inner-scroll,
.ie9 .modal-popup._inner-scroll {
  overflow-y: auto;
}
.modal-popup._inner-scroll .modal-inner-wrap {
  max-height: 90%;
}
.ie10 .modal-popup._inner-scroll .modal-inner-wrap,
.ie9 .modal-popup._inner-scroll .modal-inner-wrap {
  max-height: none;
}
.modal-popup._inner-scroll .modal-content {
  overflow-y: auto;
}
.modal-popup .modal-header,
.modal-popup .modal-content,
.modal-popup .modal-footer {
  padding-left: 3rem;
  padding-right: 3rem;
}
.modal-popup .modal-header,
.modal-popup .modal-footer {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.modal-popup .modal-header {
  padding-bottom: 1.2rem;
  padding-top: 3rem;
}
.modal-popup .modal-footer {
  margin-top: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.modal-popup .modal-footer-actions {
  text-align: right;
}
@media (max-width: 768px) {
  .modal-popup.modal-slide {
    left: 44px;
    z-index: 900;
  }
  .modal-popup.modal-slide._show .modal-inner-wrap {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .modal-popup.modal-slide .modal-inner-wrap {
    height: 100%;
    overflow-y: auto;
    position: static;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition-duration: .3s;
    -webkit-transition-property: -webkit-transform, visibility;
    transition-property: transform, visibility;
    transition-timing-function: ease-in-out;
    width: auto;
  }
  .modal-popup.modal-slide .modal-inner-wrap {
    margin: 0;
    max-height: none;
  }
}
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
.fotorama-video-container:after {
  background: url(../Magento_ProductVideo/img/gallery-sprite.png) bottom right;
  bottom: 0;
  content: '';
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 12px;
  width: 100px;
}
.fotorama-video-container .magnify-lens {
  display: none !important;
}
.fotorama-video-container.video-unplayed:hover img {
  opacity: 0.6;
}
.fotorama-video-container.video-unplayed:hover:after {
  transform: scale(1.25);
}
.video-thumb-icon:after {
  background: url(../Magento_ProductVideo/img/gallery-sprite.png) bottom left;
  bottom: 0;
  content: '';
  height: 40px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 10px;
  width: 49px;
}
.product-video {
  height: 75%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  bottom: 0;
  margin: auto;
}
.product-video iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 780px) and (orientation: landscape) {
  .product-video {
    height: 100%;
    width: 81%;
  }
}
.fotorama__arr.hidden-video {
  z-index: -1 !important;
}
.fotorama__video-close {
  bottom: 89%;
  top: auto;
}
.fotorama__stage__shaft:focus .fotorama__stage__frame.fotorama__active:after {
  bottom: 0;
  content: '';
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 12px;
  width: 100px;
}
.block-wishlist-search .form-wishlist-search {
  margin: 20px 0 0;
}
@media all and (min-width: 768px), print {
  .abs-product-options-list-desktop dt,
  .block-giftregistry-shared .item-options dt {
    float: left;
    clear: left;
    margin: 0 10px 5px 0;
  }
  .block-giftregistry-shared .item-options dt:after {
    content: ': ';
  }
  .abs-product-options-list-desktop dd,
  .block-giftregistry-shared .item-options dd {
    float: left;
    display: inline-block;
    margin: 0 0 5px;
  }
  .abs-button-desktop {
    width: auto;
  }
  .abs-blocks-2columns,
  .login-container .block,
  .account .column.main .block:not(.widget) .block-content .box,
  .block-addresses-list .items.addresses > .item,
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content .box,
  [class^="sales-guest-"] .column.main .block:not(.widget) .block-content .box,
  .sales-guest-view .column.main .block:not(.widget) .block-content .box {
    width: 48.8%;
  }
  .login-container .block:nth-child(odd),
  .account .column.main .block:not(.widget) .block-content .box:nth-child(odd),
  .block-addresses-list .items.addresses > .item:nth-child(odd),
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content .box:nth-child(odd),
  [class^="sales-guest-"] .column.main .block:not(.widget) .block-content .box:nth-child(odd),
  .sales-guest-view .column.main .block:not(.widget) .block-content .box:nth-child(odd) {
    float: left;
    clear: left;
  }
  .login-container .block:nth-child(even),
  .account .column.main .block:not(.widget) .block-content .box:nth-child(even),
  .block-addresses-list .items.addresses > .item:nth-child(even),
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content .box:nth-child(even),
  [class^="sales-guest-"] .column.main .block:not(.widget) .block-content .box:nth-child(even),
  .sales-guest-view .column.main .block:not(.widget) .block-content .box:nth-child(even) {
    float: right;
  }
  .abs-reset-left-margin-desktop,
  .bundle-options-container .legend.title,
  .column.main .cart-summary .actions-toolbar,
  .cart.table-wrapper .item-actions .actions-toolbar,
  .gift-summary .actions-toolbar,
  .cart.table-wrapper .gift-summary .actions-toolbar,
  .column.main .block-giftregistry-shared-items .actions-toolbar,
  .form-new-agreement .fieldset .legend,
  .form-new-agreement .actions-toolbar,
  .column.main .paypal-review .actions-toolbar,
  .wishlist-index-index .main .form-wishlist-items .actions-toolbar {
    margin-left: 0;
  }
  .abs-action-remove-desktop,
  .abs-add-fields-desktop .fieldset .additional .action.remove,
  .form-giftregistry-share .fieldset .additional .action.remove,
  .form-giftregistry-edit .fieldset .additional .action.remove,
  .form-add-invitations .fieldset .additional .action.remove,
  .form-create-return .fieldset .additional .action.remove,
  .form.send.friend .fieldset .additional .action.remove {
    top: 6px;
    margin-left: 75.8%;
  }
  .form-giftregistry-share .fieldset .field:not(.choice) .control,
  .form-giftregistry-edit .fieldset .field:not(.choice) .control,
  .form-add-invitations .fieldset .field:not(.choice) .control,
  .form-create-return .fieldset .field:not(.choice) .control,
  .form.send.friend .fieldset .field:not(.choice) .control {
    width: 50%;
  }
  .abs-margin-for-forms-desktop,
  .fieldset .legend,
  .column:not(.sidebar-main) form .actions-toolbar,
  .column:not(.sidebar-additional) form .actions-toolbar,
  .login-container .fieldset:after {
    margin-left: 25.8%;
  }
  .abs-visually-hidden-desktop,
  .block-search .label,
  .dashboard-welcome-toggler,
  .block-collapsible-nav .title {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .abs-add-clearfix-desktop:before,
  .abs-add-clearfix-desktop:after,
  .abs-pager-toolbar:before,
  .abs-pager-toolbar:after,
  .cart-container:before,
  .cart-container:after,
  .login-container:before,
  .login-container:after,
  .account .column.main .block:not(.widget) .block-content:before,
  .account .column.main .block:not(.widget) .block-content:after,
  .block-addresses-list .items.addresses:before,
  .block-addresses-list .items.addresses:after,
  .block-giftregistry-shared .item-options:before,
  .block-giftregistry-shared .item-options:after,
  .gift-wrapping .nested:before,
  .gift-wrapping .nested:after,
  .table .gift-wrapping .content:before,
  .table .gift-wrapping .content:after,
  .block-wishlist-management:before,
  .block-wishlist-management:after,
  .paypal-review .block-content:before,
  .paypal-review .block-content:after,
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content:before,
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content:after,
  [class^="sales-guest-"] .column.main .block:not(.widget) .block-content:before,
  [class^="sales-guest-"] .column.main .block:not(.widget) .block-content:after,
  .sales-guest-view .column.main .block:not(.widget) .block-content:before,
  .sales-guest-view .column.main .block:not(.widget) .block-content:after,
  .header.content:before,
  .header.content:after,
  .page-header .header.panel:before,
  .page-header .header.panel:after,
  .account .toolbar:before,
  .account .toolbar:after,
  .toolbar-giftregistry-results:before,
  .toolbar-giftregistry-results:after,
  .toolbar-wishlist-results:before,
  .toolbar-wishlist-results:after {
    content: '';
    display: table;
  }
  .abs-add-clearfix-desktop:after,
  .abs-pager-toolbar:after,
  .cart-container:after,
  .login-container:after,
  .account .column.main .block:not(.widget) .block-content:after,
  .block-addresses-list .items.addresses:after,
  .block-giftregistry-shared .item-options:after,
  .gift-wrapping .nested:after,
  .table .gift-wrapping .content:after,
  .block-wishlist-management:after,
  .paypal-review .block-content:after,
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content:after,
  [class^="sales-guest-"] .column.main .block:not(.widget) .block-content:after,
  .sales-guest-view .column.main .block:not(.widget) .block-content:after,
  .header.content:after,
  .page-header .header.panel:after,
  .account .toolbar:after,
  .toolbar-giftregistry-results:after,
  .toolbar-wishlist-results:after {
    clear: both;
  }
  .abs-add-box-sizing-desktop,
  .column.main,
  .sidebar-main,
  .sidebar-additional {
    box-sizing: border-box;
  }
  .abs-add-box-sizing-desktop-m,
  .opc-wrapper {
    box-sizing: border-box;
  }
  .abs-revert-field-type-desktop .fieldset > .field,
  .abs-revert-field-type-desktop .fieldset .fields > .field,
  .product-add-form .fieldset > .field,
  .product-add-form .fieldset .fields > .field {
    margin: 0 0 20px;
  }
  .abs-revert-field-type-desktop .fieldset > .field:not(.choice) > .label,
  .abs-revert-field-type-desktop .fieldset .fields > .field:not(.choice) > .label,
  .product-add-form .fieldset > .field:not(.choice) > .label,
  .product-add-form .fieldset .fields > .field:not(.choice) > .label {
    box-sizing: content-box;
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
  }
  .abs-revert-field-type-desktop .fieldset > .field:not(.choice) > .control,
  .abs-revert-field-type-desktop .fieldset .fields > .field:not(.choice) > .control,
  .product-add-form .fieldset > .field:not(.choice) > .control,
  .product-add-form .fieldset .fields > .field:not(.choice) > .control {
    float: none;
    width: auto;
  }
  .abs-revert-field-type-desktop .fieldset > .field > .label,
  .abs-revert-field-type-desktop .fieldset .fields > .field > .label,
  .product-add-form .fieldset > .field > .label,
  .product-add-form .fieldset .fields > .field > .label {
    margin: 0 0 5px;
    display: inline-block;
  }
  .abs-revert-field-type-desktop .fieldset > .field.choice:before,
  .abs-revert-field-type-desktop .fieldset .fields > .field.choice:before,
  .abs-revert-field-type-desktop .fieldset > .field.no-label:before,
  .abs-revert-field-type-desktop .fieldset .fields > .field.no-label:before,
  .product-add-form .fieldset > .field.choice:before,
  .product-add-form .fieldset .fields > .field.choice:before,
  .product-add-form .fieldset > .field.no-label:before,
  .product-add-form .fieldset .fields > .field.no-label:before {
    display: none;
  }
  .product-add-form .fieldset > .field:not(:first-child):last-of-type,
  .product-add-form .fieldset .fields > .field:not(:first-child):last-of-type {
    margin-bottom: 0;
  }
  .abs-no-display-desktop,
  .sidebar .block.widget .pager .item:not(.pages-item-next):not(.pages-item-previous) {
    display: none;
  }
  .abs-pager-toolbar,
  .account .toolbar,
  .toolbar-giftregistry-results,
  .toolbar-wishlist-results {
    margin-bottom: 20px;
    position: relative;
  }
  .abs-pager-toolbar .limiter,
  .account .toolbar .limiter,
  .toolbar-giftregistry-results .limiter,
  .toolbar-wishlist-results .limiter {
    float: right;
    position: relative;
    z-index: 1;
  }
  .abs-pager-toolbar .toolbar-amount,
  .account .toolbar .toolbar-amount,
  .toolbar-giftregistry-results .toolbar-amount,
  .toolbar-wishlist-results .toolbar-amount {
    float: left;
    line-height: normal;
    padding: 7px 0 0;
    position: relative;
    z-index: 1;
  }
  .abs-pager-toolbar .pages,
  .account .toolbar .pages,
  .toolbar-giftregistry-results .pages,
  .toolbar-wishlist-results .pages {
    position: absolute;
    z-index: 0;
    width: 100%;
  }
  .abs-shopping-cart-items-desktop,
  .block-cart-failed,
  .cart-container .form-cart,
  .cart-container .cart-gift-item {
    float: left;
    width: 73%;
    position: relative;
  }
  .abs-shopping-cart-items-desktop .actions,
  .block-cart-failed .actions,
  .cart-container .form-cart .actions,
  .cart-container .cart-gift-item .actions {
    text-align: right;
  }
  .block-cart-failed .action.continue,
  .cart-container .form-cart .action.continue,
  .cart-container .cart-gift-item .action.continue {
    float: left;
  }
  .block-cart-failed .action.clear,
  .cart-container .form-cart .action.clear,
  .cart-container .cart-gift-item .action.clear {
    margin-right: 10px;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container,
  .page-main {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 1280px;
    box-sizing: border-box;
  }
  .page-main {
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .ie9 .page-main {
    width: auto;
  }
  .columns {
    display: block;
  }
  .column.main {
    min-height: 300px;
  }
  .page-layout-1column .column.main {
    width: 100%;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-3columns .column.main {
    width: 66.66666667%;
    display: inline-block;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-2columns-left .column.main {
    width: 83.33333333%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-2columns-right .column.main {
    width: 83.33333333%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .sidebar-main {
    padding-right: 2%;
  }
  .page-layout-3columns .sidebar-main {
    width: 16.66666667%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .page-layout-2columns-left .sidebar-main {
    width: 16.66666667%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .page-layout-2columns-right .sidebar-main {
    width: 16.66666667%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .page-layout-2columns-right .sidebar-main {
    padding-right: 0;
    padding-left: 2%;
  }
  .sidebar-additional {
    padding-left: 2%;
    clear: right;
  }
  .page-layout-3columns .sidebar-additional {
    width: 16.66666667%;
    float: right;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .page-layout-2columns-left .sidebar-additional {
    width: 16.66666667%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-2columns-right .sidebar-additional {
    width: 16.66666667%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .page-layout-2columns-left .sidebar-additional {
    padding-right: 2%;
    padding-left: 0;
    clear: left;
    float: left;
  }
  .panel.header {
    padding: 10px 20px;
  }
  .nav-toggle {
    display: none;
  }
  .nav-sections {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    margin-bottom: 25px;
  }
  .nav-sections-item-title {
    display: none;
  }
  .nav-sections-item-content {
    display: block !important;
  }
  .nav-sections-item-content > * {
    display: none;
  }
  .nav-sections-item-content > .navigation {
    display: block;
  }
  .navigation {
    background: #f5f5f5;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .navigation:empty {
    display: none;
  }
  .navigation ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
  }
  .navigation li.level0 {
    border-top: none;
  }
  .navigation .level0 {
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
  }
  .navigation .level0:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .navigation .level0 > .level-top {
    color: #575757;
    line-height: 53px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
  }
  .navigation .level0 > .level-top:hover,
  .navigation .level0 > .level-top.ui-state-focus {
    color: #333333;
    text-decoration: none;
  }
  .navigation .level0.active > .level-top,
  .navigation .level0.has-active > .level-top {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 3px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
  }
  .navigation .level0.parent:hover > .submenu {
    overflow: visible !important;
  }
  .navigation .level0 .submenu {
    background: #ffffff;
    border: 1px solid #d1d1d1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    font-weight: 700;
    min-width: 230px;
    padding: 15px 0;
    display: none;
    left: 0;
    margin: 0 !important;
    padding: 0;
    position: absolute;
    z-index: 1;
    margin-top: 11px;
  }
  .navigation .level0 .submenu > ul {
    margin-top: 11px;
  }
  .navigation .level0 .submenu > ul:before,
  .navigation .level0 .submenu > ul:after {
    content: '';
    display: block;
    overflow: hidden;
    position: absolute;
  }
  .navigation .level0 .submenu > ul:before {
    color: #ffffff;
    left: 20px;
    top: -20px;
    border: 10px solid transparent;
    height: 0;
    width: 0;
    border-bottom-color: #ffffff;
    z-index: 4;
  }
  .navigation .level0 .submenu > ul:after {
    border: 11px solid transparent;
    height: 0;
    width: 0;
    border-bottom-color: #d1d1d1;
    color: #d1d1d1;
    left: 19px;
    top: -22px;
    z-index: 3;
  }
  .navigation .level0 .submenu a {
    display: block;
    line-height: inherit;
    color: #575757;
    padding: 8px 20px;
  }
  .navigation .level0 .submenu a:hover,
  .navigation .level0 .submenu a.ui-state-focus {
    background: #e8e8e8;
    color: #333333;
    text-decoration: none;
  }
  .navigation .level0 .submenu .active > a {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 3px;
  }
  .navigation .level0 .submenu .submenu {
    top: 0 !important;
    left: 100% !important;
  }
  .navigation .level0 .submenu .submenu-reverse {
    left: auto !important;
    right: 100%;
  }
  .navigation .level0.more {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .navigation .level0.more:after {
    -webkit-font-smoothing: antialiased;
    font-size: 26px;
    line-height: inherit;
    color: inherit;
    content: '\e607';
    font-family: 'icons-blank-theme';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .navigation .level0.more:before {
    display: none;
  }
  .navigation .level0.more:after {
    cursor: pointer;
    padding: 8px 12px;
    position: relative;
    z-index: 1;
  }
  .navigation .level0.more:hover > .submenu {
    overflow: visible !important;
  }
  .navigation .level0.more li {
    display: block;
  }
  .panel.header .links,
  .panel.header .switcher {
    display: inline-block;
  }
  .fieldset > .field {
    margin: 0 0 20px;
    box-sizing: border-box;
    margin: 0 0 29px;
  }
  .fieldset > .field > .label {
    margin: 0;
  }
  .fieldset > .field:before,
  .fieldset > .field:after {
    content: '';
    display: table;
  }
  .fieldset > .field:after {
    clear: both;
  }
  .fieldset > .field.choice:before,
  .fieldset > .field.no-label:before {
    padding: 6px 15px 0 0;
    width: 25.8%;
    box-sizing: border-box;
    content: ' ';
    float: left;
    height: 1px;
  }
  .fieldset > .field .description {
    padding: 6px 15px 0 0;
    text-align: right;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .fieldset > .field:not(.choice) > .label {
    padding: 6px 15px 0 0;
    text-align: right;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .fieldset > .field:not(.choice) > .control {
    width: 74.2%;
    float: left;
  }
  .product.data.items {
    position: relative;
    z-index: 1;
  }
  .product.data.items:before,
  .product.data.items:after {
    content: '';
    display: table;
  }
  .product.data.items:after {
    clear: both;
  }
  .product.data.items > .item.title {
    float: left;
    width: auto;
  }
  .product.data.items > .item.title > .switch {
    height: 20px;
    display: block;
    position: relative;
    z-index: 2;
  }
  .product.data.items > .item.content {
    margin-top: 20px;
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    width: 100%;
  }
  .product.data.items > .item.content:before,
  .product.data.items > .item.content:after {
    content: '';
    display: table;
  }
  .product.data.items > .item.content:after {
    clear: both;
  }
  .product.data.items > .item.content.active {
    display: block;
  }
  .product.data.items > .item.title {
    margin: 0 5px 0 0;
  }
  .product.data.items > .item.title > .switch {
    font-weight: 600;
    line-height: 20px;
    font-size: 1.4rem;
    color: #7d7d7d;
    text-decoration: none;
    background: #f0f0f0;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    height: 20px;
    padding: 5px 20px 5px 20px;
  }
  .product.data.items > .item.title > .switch:visited {
    color: #7d7d7d;
    text-decoration: none;
  }
  .product.data.items > .item.title > .switch:hover {
    color: #7d7d7d;
    text-decoration: none;
  }
  .product.data.items > .item.title > .switch:active {
    color: #333333;
    text-decoration: none;
  }
  .product.data.items > .item.title:not(.disabled) > .switch:focus,
  .product.data.items > .item.title:not(.disabled) > .switch:hover {
    background: #fcfcfc;
  }
  .product.data.items > .item.title:not(.disabled) > .switch:active,
  .product.data.items > .item.title.active > .switch,
  .product.data.items > .item.title.active > .switch:focus,
  .product.data.items > .item.title.active > .switch:hover {
    background: #ffffff;
    color: #333333;
  }
  .product.data.items > .item.title.active > .switch,
  .product.data.items > .item.title.active > .switch:focus,
  .product.data.items > .item.title.active > .switch:hover {
    padding-bottom: 6px;
  }
  .product.data.items > .item.content {
    background: #ffffff;
    margin-top: 31px;
    padding: 20px 20px 20px 20px;
    border: 0;
    border-top: 1px solid #d1d1d1;
  }
  .actions-toolbar:before,
  .actions-toolbar:after {
    content: '';
    display: table;
  }
  .actions-toolbar:after {
    clear: both;
  }
  .actions-toolbar .primary {
    float: left;
  }
  .actions-toolbar .secondary {
    float: right;
  }
  .actions-toolbar .primary,
  .actions-toolbar .secondary {
    display: inline-block;
  }
  .actions-toolbar .primary a.action,
  .actions-toolbar .secondary a.action {
    display: inline-block;
  }
  .actions-toolbar .primary .action {
    margin: 0 5px 0 0;
  }
  .actions-toolbar .secondary a.action {
    margin-top: 6px;
  }
  .actions-toolbar > .primary,
  .actions-toolbar > .secondary {
    margin-bottom: 0;
  }
  .actions-toolbar > .primary .action,
  .actions-toolbar > .secondary .action {
    width: auto;
    margin-bottom: 0;
  }
  .block-cart-failed .actions {
    text-align: left;
  }
  .bundle-options-container .bundle-options-wrapper,
  .bundle-options-container .product-options-wrapper {
    float: left;
    width: 57%;
  }
  .bundle-options-container .block-bundle-summary {
    float: right;
    position: relative;
    width: 40%;
  }
  .page-layout-2columns-left .bundle-options-container .bundle-options-wrapper,
  .page-layout-2columns-left .bundle-options-container .block-bundle-summary,
  .page-layout-2columns-right .bundle-options-container .bundle-options-wrapper,
  .page-layout-2columns-right .bundle-options-container .block-bundle-summary,
  .page-layout-3columns .bundle-options-container .bundle-options-wrapper,
  .page-layout-3columns .bundle-options-container .block-bundle-summary {
    width: 48%;
  }
  .page-products .products-grid .product-item {
    width: 33.33333333%;
  }
  .page-products.page-layout-1column .products-grid .product-item {
    width: 25%;
  }
  .page-products.page-layout-3columns .products-grid .product-item {
    width: 50%;
  }
  .product-info-main .box-tocart,
  .product-options-bottom .box-tocart {
    display: table;
  }
  .product-info-main .box-tocart .field.qty,
  .product-options-bottom .box-tocart .field.qty {
    display: table-cell;
  }
  .product-info-main .box-tocart .actions,
  .product-options-bottom .box-tocart .actions {
    display: table-cell;
    padding-top: 25px;
    text-align: center;
    vertical-align: bottom;
  }
  .product-info-main .page-title-wrapper .page-title {
    margin-top: -13px;
  }
  .sidebar .product-items .product-item-info .product-item-photo {
    position: relative;
    left: auto;
    top: auto;
    float: left;
    margin: 0 10px 10px 0;
  }
  .sidebar .product-items .product-item-details {
    margin: 0;
  }
  .sidebar .product-items .product-item-actions {
    clear: left;
  }
  .product-info-main {
    float: right;
  }
  .product.media {
    float: left;
    margin-bottom: 25px;
  }
  .page-layout-1column .product-info-main {
    width: 40%;
  }
  .page-layout-1column .product.media {
    width: 57%;
  }
  .page-layout-2columns-left .product-info-main,
  .page-layout-2columns-right .product-info-main,
  .page-layout-3columns .product-info-main {
    width: 48%;
  }
  .page-layout-2columns-left .product.media,
  .page-layout-2columns-right .product.media,
  .page-layout-3columns .product.media {
    width: 50%;
  }
  .block-category-event.block:last-child {
    margin-bottom: 30px;
    padding: 10px 0 30px;
  }
  .block-category-event .block-title {
    margin: 0;
  }
  .block-category-event .block-title strong {
    font-size: 2.4rem;
  }
  .block-category-event .ticker li {
    display: none;
    margin: 0 50px;
  }
  .block-category-event .ticker .value {
    font-size: 6rem;
  }
  .block-category-event .ticker .label {
    font-size: 1.4rem;
    text-transform: none;
  }
  .block-category-event .dates .start,
  .block-category-event .dates .end {
    display: inline-block;
  }
  .block-category-event .dates .start {
    padding-right: 50px;
    position: relative;
  }
  .block-category-event .dates .start:after {
    position: absolute;
    right: 10px;
    top: 0;
  }
  .block-search {
    position: relative;
    float: right;
    padding-left: 15px;
    width: 250px;
    z-index: 4;
  }
  .block-search .control {
    border-top: 0;
    margin: 0;
    padding: 0 0 25px;
  }
  .block-search .nested {
    display: block;
    padding-top: 5px;
    position: absolute;
  }
  .block-search input {
    position: static;
    padding-right: 35px;
    margin: 0;
  }
  .block-search input::-webkit-input-placeholder {
    color: #c2c2c2;
    font-weight: false;
  }
  .block-search input:-moz-placeholder {
    color: #c2c2c2;
    font-weight: false;
  }
  .block-search input::-moz-placeholder {
    color: #c2c2c2;
    font-weight: false;
  }
  .block-search input:-ms-input-placeholder {
    color: #c2c2c2;
    font-weight: false;
  }
  .block-search .action.search {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    display: inline-block;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    padding: 5px 0;
  }
  .block-search .action.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .block-search .action.search:before {
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    line-height: 22px;
    color: #8f8f8f;
    content: '\e615';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .block-search .action.search:hover:before {
    color: inherit;
  }
  .block-search .action.search:active:before {
    color: inherit;
  }
  .block-search .action.search:focus,
  .block-search .action.search:active {
    background: none;
    border: none;
  }
  .block-search .action.search:hover {
    background: none;
    border: none;
  }
  .block-search .action.search.disabled,
  .block-search .action.search[disabled],
  fieldset[disabled] .block-search .action.search {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
  .block-search .action.search:focus:before {
    color: #333333;
  }
  .search-autocomplete {
    margin-top: 0;
  }
  .cart-container .widget {
    float: left;
  }
  .cart-summary {
    float: right;
    position: relative;
    width: 23%;
  }
  .column.main .cart-summary .actions-toolbar > .secondary {
    float: none;
  }
  .cart-summary .block .fieldset .field {
    margin: 0 0 20px;
    margin: 0 0 10px;
  }
  .cart-summary .block .fieldset .field:not(.choice) > .label {
    box-sizing: content-box;
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
  }
  .cart-summary .block .fieldset .field:not(.choice) > .control {
    float: none;
    width: auto;
  }
  .cart-summary .block .fieldset .field > .label {
    margin: 0 0 5px;
    display: inline-block;
  }
  .cart-summary .block .fieldset .field.choice:before,
  .cart-summary .block .fieldset .field.no-label:before {
    display: none;
  }
  .cart.table-wrapper .items {
    min-width: 100%;
    width: auto;
  }
  .cart.table-wrapper .item .col.item {
    padding: 27px 8px 10px;
  }
  .cart.table-wrapper .item-actions td {
    text-align: right;
  }
  .cart.table-wrapper .product-item-photo {
    display: table-cell;
    max-width: 100%;
    padding-right: 20px;
    position: static;
    vertical-align: top;
    width: 1%;
  }
  .cart.table-wrapper .product-item-details {
    display: table-cell;
    vertical-align: top;
    white-space: normal;
    width: 99%;
  }
  .cart.table-wrapper .item-actions .actions-toolbar {
    text-align: left;
  }
  .minicart-wrapper {
    margin-left: 13px;
  }
  .minicart-wrapper .block-minicart {
    right: -15px;
    width: 390px;
  }
  .opc-wrapper {
    width: 66.66666667%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    padding-right: 30px;
  }
  .opc-estimated-wrapper {
    display: none;
  }
  .opc-progress-bar-item {
    width: 185px;
  }
  .opc-wrapper .fieldset > .field.required {
    position: relative;
  }
  .opc-wrapper .fieldset > .field.required > label {
    padding-right: 25px;
  }
  .opc-wrapper .fieldset > .field.required > label:after {
    margin-left: 10px;
    position: absolute;
    top: 9px;
  }
  .checkout-index-index .modal-popup .form-shipping-address {
    max-width: 600px;
  }
  .checkout-index-index .modal-popup .modal-footer .action-save-address {
    float: right;
    margin: 0 0 0 10px;
  }
  .checkout-shipping-method .actions-toolbar > .primary {
    float: right;
  }
  .checkout-shipping-method .actions-toolbar .action.primary {
    margin: 0;
  }
  .opc-wrapper .form-login,
  .opc-wrapper .form-shipping-address {
    max-width: 600px;
  }
  .table-checkout-shipping-method {
    width: auto;
  }
  .opc-sidebar {
    margin: 46px 0 20px;
    width: 33.33333333%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .opc-summary-wrapper .modal-header .action-close {
    display: none;
  }
  .authentication-dropdown {
    background-color: #ffffff;
    border: 1px solid #aeaeae;
    position: absolute;
    text-align: left;
    top: 100%;
    transform-origin: 0 0;
    transform: scale(1, 0);
    transition: transform linear .1s, visibility 0s linear .1s;
    visibility: hidden;
    width: 100%;
  }
  .authentication-dropdown._show {
    z-index: 100;
    transform: scale(1, 1);
    transition: transform linear .1s, visibility 0s linear 0s;
    visibility: visible;
  }
  .authentication-wrapper {
    width: 33.33333333%;
    text-align: right;
  }
  .block-authentication .block-title {
    font-size: 2.6rem;
    border-bottom: 0;
    margin-bottom: 25px;
  }
  .block-authentication .actions-toolbar > .primary {
    display: inline;
    float: right;
    margin-right: 0;
  }
  .block-authentication .actions-toolbar > .primary .action {
    margin-right: 0;
  }
  .block-authentication .actions-toolbar > .secondary {
    float: left;
    margin-right: 2rem;
    padding-top: 1rem;
  }
  .popup-authentication .modal-inner-wrap {
    min-width: 768px;
    width: 60%;
  }
  .popup-authentication .block-authentication {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: 1px solid #c1c1c1;
  }
  .popup-authentication .block[class],
  .popup-authentication .form-login,
  .popup-authentication .fieldset,
  .popup-authentication .block-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  .popup-authentication .block[class] {
    box-sizing: border-box;
    float: left;
    padding: 10px 30px 0 0;
    width: 50%;
  }
  .popup-authentication .block[class] + .block {
    border-left: 1px solid #c1c1c1;
    border-top: 0;
    margin: 0;
    padding: 10px 0 0 40px;
  }
  .popup-authentication .block[class] + .block::before {
    left: 0;
    top: 50%;
  }
  .popup-authentication .actions-toolbar {
    margin-bottom: 0;
    margin-top: auto;
  }
  .checkout-payment-method .payment-methods .actions-toolbar .primary {
    float: right;
    margin: 0;
  }
  .checkout-payment-method .fieldset > .field-select-billing > .control {
    float: none;
    width: 100%;
  }
  .checkout-payment-method .payment-method-content .fieldset > .field {
    margin: 0 0 20px;
  }
  .checkout-payment-method .payment-method-content .fieldset > .field.type .control {
    margin-left: 25.8%;
  }
  .checkout-payment-method .payment-method-content .fieldset > .field.type.no-detection .control {
    margin-left: 0;
  }
  .payment-method-billing-address .action-update {
    float: right;
  }
  .payment-method-billing-address .actions-toolbar .action-cancel {
    margin: 6px 20px 0 0;
  }
  .checkout-payment-method .payment-option-title {
    padding-left: 22px;
  }
  .checkout-payment-method .payment-option-content .payment-option-inner + .actions-toolbar {
    margin-left: 0;
  }
  .login-container .block.login .actions-toolbar > .primary {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .login-container .block.login .actions-toolbar > .secondary {
    float: left;
  }
  .login-container .fieldset > .field > .control {
    width: 55%;
  }
  .form-create-account .fieldset-fullname .fields .field {
    float: left;
    margin: 0 10px 10px 0;
  }
  .form-create-account .fieldset-fullname .field-name-prefix,
  .form-create-account .fieldset-fullname .field-name-suffix {
    width: 50px;
  }
  .form.password.reset,
  .form.send.confirmation,
  .form.password.forget,
  .form.create.account {
    width: 50%;
    min-width: 600px;
  }
  .account.page-layout-2columns-left .sidebar-main,
  .account.page-layout-2columns-left .sidebar-additional {
    width: 22.3%;
  }
  .account.page-layout-2columns-left .column.main {
    width: 77.7%;
  }
  .block-addresses-list .items.addresses > .item {
    margin-bottom: 20px;
  }
  .block-addresses-list .items.addresses > .item:nth-last-child(1),
  .block-addresses-list .items.addresses > .item:nth-last-child(2) {
    margin-bottom: 0;
  }
  .control.captcha-image .captcha-img {
    margin: 0 10px 10px 0;
  }
  .page-product-downloadable .product-options-wrapper {
    float: left;
    width: 55%;
  }
  .page-product-downloadable .product-options-bottom {
    float: right;
    width: 40%;
  }
  .page-product-downloadable .product-options-bottom .field.qty + .actions {
    padding-top: 0;
  }
  .gift-message .field {
    margin: 0 0 20px;
    box-sizing: border-box;
  }
  .gift-message .field > .label {
    margin: 0;
  }
  .gift-message .field:before,
  .gift-message .field:after {
    content: '';
    display: table;
  }
  .gift-message .field:after {
    clear: both;
  }
  .gift-message .field.choice:before,
  .gift-message .field.no-label:before {
    padding: 6px 15px 0 0;
    width: 25.8%;
    box-sizing: border-box;
    content: ' ';
    float: left;
    height: 1px;
  }
  .gift-message .field .description {
    padding: 6px 15px 0 0;
    text-align: left;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .gift-message .field:not(.choice) > .label {
    padding: 6px 15px 0 0;
    text-align: left;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .gift-message .field:not(.choice) > .control {
    width: 74.2%;
    float: left;
  }
  .gift-options {
    position: relative;
    z-index: 1;
  }
  .gift-options .actions-toolbar {
    clear: both;
    float: right;
    position: static;
  }
  .gift-options .actions-toolbar .secondary {
    float: right;
  }
  .gift-options .actions-toolbar .secondary .action {
    float: right;
    margin-left: 20px;
  }
  .gift-options .actions-toolbar .secondary .action-cancel {
    display: block;
    float: left;
    margin-top: 6px;
  }
  .gift-options .actions-toolbar:nth-child(3):before {
    border-left: 1px solid #c1c1c1;
    bottom: 5rem;
    content: "";
    display: block;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
  }
  .gift-options-title {
    font-weight: 300;
    font-size: 1.8rem;
  }
  .cart.table-wrapper .action-gift {
    float: left;
  }
  .form-giftregistry-search .fieldset {
    margin-bottom: 29px;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field {
    margin: 0 0 20px;
    box-sizing: border-box;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field > .label {
    margin: 0;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field:before,
  .form-giftregistry-search .fieldset > .fields-specific-options > .field:after {
    content: '';
    display: table;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field:after {
    clear: both;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field.choice:before,
  .form-giftregistry-search .fieldset > .fields-specific-options > .field.no-label:before {
    padding: 6px 15px 0 0;
    width: 25.8%;
    box-sizing: border-box;
    content: ' ';
    float: left;
    height: 1px;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field .description {
    padding: 6px 15px 0 0;
    text-align: right;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field:not(.choice) > .label {
    padding: 6px 15px 0 0;
    text-align: right;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .form-giftregistry-search .fieldset > .fields-specific-options > .field:not(.choice) > .control {
    width: 74.2%;
    float: left;
  }
  .block-giftregistry-shared-items .product-item-photo {
    display: table-cell;
    max-width: 100%;
    padding: 0 20px 0 0;
    vertical-align: top;
    width: 1%;
  }
  .block-giftregistry-shared-items .product-item-details {
    display: table-cell;
    vertical-align: top;
    width: 99%;
    word-break: normal;
  }
  .block-giftregistry-shared-items .col.product {
    width: 48%;
  }
  .block-giftregistry-shared-items .col:not(.product) {
    text-align: center;
  }
  .block-giftregistry-shared-items .col.price {
    padding-top: 17px;
  }
  .block-giftregistry-shared-items .input-text.qty {
    margin-top: -4px;
  }
  .gift-wrapping {
    box-sizing: border-box;
    float: left;
    padding-right: 20px;
    width: 50%;
  }
  .gift-wrapping + .gift-message {
    border-left: 1px solid #c1c1c1;
    box-sizing: border-box;
    float: left;
    padding-left: 4.5rem;
    width: 50%;
  }
  .form-add-invitations .additional,
  .form-add-invitations .field.text {
    margin-top: 29px;
  }
  .table-invitations .col {
    width: 50%;
  }
  .wishlist.window.popup {
    bottom: auto;
    top: 20%;
    left: 50%;
    margin-left: -212px;
    width: 380px;
    right: auto;
  }
  .wishlist.window.popup .field {
    margin: 0 0 20px;
  }
  .wishlist.window.popup .field:not(.choice) > .label {
    box-sizing: content-box;
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
  }
  .wishlist.window.popup .field:not(.choice) > .control {
    float: none;
    width: auto;
  }
  .wishlist.window.popup .field > .label {
    margin: 0 0 5px;
    display: inline-block;
  }
  .wishlist.window.popup .field.choice:before,
  .wishlist.window.popup .field.no-label:before {
    display: none;
  }
  .block-wishlist-management {
    margin-bottom: 20px;
  }
  .block-wishlist-management .wishlist-select {
    border-bottom: 1px solid #e8e8e8;
    display: table;
    margin-bottom: 15px;
    width: 100%;
  }
  .block-wishlist-management .wishlist-select .wishlist-name {
    display: table-cell;
    margin-right: 10px;
    padding: 5px 10px 10px;
    vertical-align: top;
    white-space: nowrap;
    width: 5%;
  }
  .block-wishlist-management .wishlist-select-items {
    display: table-cell;
    padding-right: 160px;
    vertical-align: top;
  }
  .block-wishlist-management .wishlist-select-items .item {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px 10px;
  }
  .block-wishlist-management .wishlist-select-items .item:last-child {
    margin-right: 0;
  }
  .block-wishlist-management .wishlist-select-items .current {
    border-bottom: 3px solid #ff5501;
    font-weight: 600;
  }
  .block-wishlist-management .wishlist-select .wishlist-name-current {
    display: none;
  }
  .block-wishlist-management .wishlist-add.item {
    position: absolute;
    right: 0;
    top: 0;
  }
  .block-wishlist-management .wishlist-title strong {
    font-size: 4rem;
  }
  .block-wishlist-management .wishlist-info {
    float: left;
  }
  .block-wishlist-management .wishlist-toolbar {
    float: right;
  }
  .block-wishlist-info-items .product-item-photo {
    margin-left: 0;
  }
  .products-grid.wishlist .product-item-checkbox {
    float: left;
  }
  .products-grid.wishlist .product-item-checkbox + .product-item-name {
    margin-left: 25px;
  }
  .block.newsletter {
    width: 32%;
  }
  .block.newsletter .field {
    margin-right: 5px;
  }
  .block.newsletter .field .control {
    width: 100%;
  }
  .block.newsletter .action.subscribe {
    border-radius: 3px;
  }
  .paypal-review .paypal-review-title {
    border-bottom: 1px solid #d1d1d1;
  }
  .paypal-review .block-content .box-order-shipping-address,
  .paypal-review .block-content .box-order-shipping-method,
  .paypal-review .block-content .box-order-shipping-method + .box-order-billing-address {
    box-sizing: border-box;
    float: left;
    width: 33%;
  }
  .paypal-review .block-content .box-order-shipping-address {
    padding: 0 5%;
    width: 34%;
  }
  .paypal-review .col.subtotal,
  .paypal-review .mark,
  .paypal-review .amount {
    text-align: right;
  }
  .products.wrapper.list .product-reviews-summary {
    margin: 0;
  }
  .reward-settings + .actions-toolbar {
    margin-top: -32px;
  }
  .form-create-return .additional .field:last-child {
    margin-top: 29px;
  }
  .magento-rma-guest-returns .column.main .block:not(.widget) .block-content .box {
    margin-bottom: 20px;
  }
  .block-returns-tracking .block-title .action {
    margin: 12px 0 0 30px;
  }
  .block-returns-tracking .block-title .action.track {
    float: right;
  }
  .table-order-items .subtotal,
  .table-order-items .amount {
    text-align: right;
  }
  .table-order-items.creditmemo .col.qty,
  .table-order-items.creditmemo .col.discount,
  .table-order-items.creditmemo .col.subtotal {
    text-align: center;
  }
  .table-order-items.creditmemo .col.total {
    text-align: right;
  }
  .order-actions-toolbar .action.print {
    display: block;
    float: right;
  }
  .page-title-wrapper .order-date {
    margin-top: -20px;
  }
  [class^="sales-guest-"] .column.main .block:not(.widget) .block-content .box,
  .sales-guest-view .column.main .block:not(.widget) .block-content .box {
    margin-bottom: 20px;
  }
  .products-grid.wishlist .product-item-tooltip {
    display: inline-block;
  }
  .products-grid.wishlist .product-item-actions {
    margin: 10px 0 0;
  }
  .products-grid.wishlist .product-item .fieldset .field.qty {
    margin-bottom: 10px;
    padding-right: 10px;
  }
  .products-grid.wishlist .product-item .fieldset .field.qty .label {
    width: auto;
  }
  .products-grid.wishlist .product-item .box-tocart .actions-primary {
    margin: 0;
  }
  .products-grid.wishlist .product-item .box-tocart .stock {
    margin: 20px 0 0;
  }
  .wishlist-index-index .product-item-info {
    width: 240px;
  }
  html,
  body {
    height: 100%;
  }
  .page-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
  }
  .page-wrapper > .breadcrumbs,
  .page-wrapper > .top-container,
  .page-wrapper > .widget {
    width: 100%;
    box-sizing: border-box;
  }
  .ie10 .page-wrapper,
  .ie11 .page-wrapper {
    height: 100%;
  }
  .navigation ul {
    padding: 0 8px;
  }
  .header.panel > .header.links {
    float: right;
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none none;
    margin-left: auto;
  }
  .header.panel > .header.links > li {
    display: inline-block;
    vertical-align: top;
  }
  .header.panel > .header.links > li {
    font-size: 14px;
    margin: 0 0 0 15px;
  }
  .header.panel > .header.links > li.welcome,
  .header.panel > .header.links > li a {
    line-height: 1.4;
  }
  .header.panel > .header.links > li.welcome a {
    padding-left: 5px;
  }
  .header.content {
    padding: 30px 20px 0;
  }
  .page-header {
    border: 0;
    margin-bottom: 0;
  }
  .page-header .panel.wrapper {
    border-bottom: 1px solid #e8e8e8;
  }
  .page-header .header.panel {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-header .switcher {
    display: inline-block;
  }
  .page-main > .page-title-wrapper .page-title {
    display: inline-block;
  }
  .page-main > .page-title-wrapper .page-title + .action {
    float: right;
    margin-top: 20px;
  }
  .logo {
    margin: -8px auto 25px 0;
  }
  .logo img {
    max-height: inherit;
  }
  .footer.content .block {
    float: right;
  }
  .footer.content .links {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    padding: 0 50px 0 0;
  }
  .footer.content .switcher.store {
    display: inline-block;
    padding-right: 50px;
    vertical-align: top;
  }
  .block.widget .products-grid .product-item {
    width: 33.33333333%;
  }
  .page-layout-1column .block.widget .products-grid .product-item {
    width: 25%;
  }
  .page-layout-3columns .block.widget .products-grid .product-item {
    width: 50%;
  }
  .sidebar .block.widget .pager .pages-item-next {
    padding: 0;
  }
  .sidebar .block.widget .pager .pages-item-next .action {
    margin: 0;
  }
}
@media all and (min-width: 769px), print {
  .modal-popup.modal-slide .modal-footer {
    border-top: 1px solid #c1c1c1;
    text-align: right;
  }
}
@media all and (min-width: 1024px), print {
  .products-grid .product-item {
    width: 20%;
  }
  .page-layout-1column .products-grid .product-item {
    width: 16.66666667%;
  }
  .page-layout-3columns .products-grid .product-item {
    width: 25%;
  }
  .page-products .products-grid .product-items {
    margin: 0;
  }
  .page-products .products-grid .product-item {
    width: 23.233%;
    margin-left: calc((100% - 4 * 23.233%) / 3);
    padding: 0;
  }
  .page-products .products-grid .product-item:nth-child(4n+1) {
    margin-left: 0;
  }
  .page-products.page-layout-1column .products-grid .product-item {
    width: 20%;
  }
  .page-products.page-layout-3columns .products-grid .product-item {
    width: 25%;
  }
  .checkout-index-index .modal-popup .modal-inner-wrap {
    margin-left: -400px;
    width: 800px;
    left: 50%;
  }
  .opc-wrapper .shipping-address-item {
    width: 33.33333333%;
  }
  .opc-wrapper .shipping-address-item:before {
    background: #cccccc;
    height: calc(100% - 20px);
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
  }
  .opc-wrapper .shipping-address-item:nth-child(3n+1):before {
    display: none;
  }
  .opc-wrapper .shipping-address-item.selected-item:before {
    display: none;
  }
  .opc-wrapper .shipping-address-item.selected-item + .shipping-address-item:before {
    display: none;
  }
  .table-checkout-shipping-method {
    min-width: 500px;
  }
  .wishlist-index-index .products-grid .product-items {
    margin: 0;
  }
  .wishlist-index-index .products-grid .product-item {
    margin-left: calc((100% - 4 * 24.439%) / 3);
    padding: 0;
    width: 24.439%;
  }
  .wishlist-index-index .products-grid .product-item:nth-child(4n+1) {
    margin-left: 0;
  }
  .block.widget .products-grid .product-item {
    width: 20%;
  }
  .page-layout-1column .block.widget .products-grid .product-item {
    width: 16.66666667%;
    margin-left: calc((100% - 5 * (100%/6)) / 4);
  }
  .page-layout-1column .block.widget .products-grid .product-item:nth-child(4n+1) {
    margin-left: calc((100% - 5 * (100%/6)) / 4);
  }
  .page-layout-1column .block.widget .products-grid .product-item:nth-child(5n+1) {
    margin-left: 0;
  }
  .page-layout-3columns .block.widget .products-grid .product-item {
    width: 25%;
  }
  .block.widget .products-grid .product-items {
    margin: 0;
  }
  .block.widget .products-grid .product-item {
    width: 24.439%;
    margin-left: calc((100% - 4 * 24.439%) / 3);
    padding: 0;
  }
  .block.widget .products-grid .product-item:nth-child(4n+1) {
    margin-left: 0;
  }
}
@media all and (min-width: 1440px), print {
  .sidebar .product-items .product-item-info .product-item-photo {
    float: none;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sidebar .product-items .product-item-details {
    margin-left: 85px;
  }
}
